* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    outline: none;
}


/* google inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul,
menu {
    list-style: none;
    padding: 0rem;
    margin: 0rem;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
}


.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}


/* header section  */
.header_section {
    position: sticky;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 16;
}



.header_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo_wrapper a img {
    max-width: 164px;
    width: 100%;
    height: 45px;
}

.menu_bar {
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

.menu_bar li a {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000;
    line-height: 2.4rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.4s ease;
}
.menu_bar li a:hover {
    color: #cc00ff;
}

.menu_bar li.active a {
    color: #cc00ff;
}


/* banner section   */
.banner_section {
    width: 100%;
    min-height: auto;
}


.banner_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_left_wrapper h4 {
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
    line-height: 4.5rem;
    text-transform: capitalize;
}

.banner_left_wrapper h4 span {
    padding: 13px 26px;
    border-radius: 60px;
    background-image: linear-gradient(#9500ff, #cc00ff);
    display: inline-block;
    color: #fff;
}

.banner_left_wrapper p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #000000;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.banner_left_wrapper button {
    max-width: 363px;
    width: 100%;
    height: 114px;
    padding: 1.25rem 2.5rem;
    border: 3px solid #9500ff;
    border-radius: 60px;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 700;
    color: #9500ff;
    line-height: 2rem;
    text-transform: capitalize;
}


.banner_right_wrapper > .banner_image {
    max-width: 500px;
    width: 100%;
    min-height: 600px;
    position: relative;
}

.banner_right_wrapper > .banner_image::before {
    position: absolute;
    top: 50%;
    left: 0rem;
    content: "";
    transform: translateY(-50%);
    width: 500px;
    height: 500px;
    background: linear-gradient(136.18deg, rgba(235, 0, 255, 0.6) 8.25%, rgba(176, 0, 255, 0.298443) 32.86%, rgba(149, 0, 255, 0) 58.79%);
    z-index: -1;
    border-radius: 100%;
}
.banner_right_wrapper > .banner_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -120px;
}



/* footer section  */
.footer_section {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_container  {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_social_icons {
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

.footer_social_icons a {
    width: 50px;
    height: 50px;
    background-color: #cc00ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.footer_social_icons a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: all 0.4s ease;
}
.footer_social_icons a img:hover {
    transform: scale(1.2);
}
